<div class="row">
  <aside class="span5">
    <section>
      <h1>Name:</h1>
        <%= current_user.user_name %>
      <h1>Email:</h1>
        <%= current_user.email %>
    </section>
  </aside>
</div>